# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Virtual environments
venv/
.venv/
env/
.env
ENV/

# SQLite DB
app.db

# Configs (если не хочешь публиковать)
config.py


# PyCharm
.idea/

# System files
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local


.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

